</div> <!-- End admin-main -->

<!-- JS Scripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js"></script>
<script src="/js/animations.js"></script>
<%- include('../partials/flash-messages') %>
</body>
</html>
